*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}  
body{
    min-height:100vh;
    width: 100;
    background: linear-gradient(135deg, navy, purple); 
    padding: 10px;
}
.box{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: 100px auto ;
    padding: 40px 30px ;
    border-radius: 5px;
}
.box h2{
    color: #002765;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* background-color: pink; */
    margin-bottom: 20px;
}
.box img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-items: space-between;
    background: #edeef0;
    /* background-color: aqua; */
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background:transparent ;
    padding:   10px;
    font-weight: 300;
}
button{
    /* flex: 1; */
    border: none;
    outline: none;
    font-size: 19px;
    color:#fff;
    padding:  15px 45px;
    cursor: pointer;
    border-radius: 40px;
    background-color:rgb(232, 171, 57);
} 
ul li{ 
    list-style: none;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    margin-bottom: 10px;
    position: relative;
    font-size: 20px;
    width: 100%; 
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    /* background-color: bisque; */
    background-position: center;
    background-size: cover;
    top: 12px;
    left: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    /* background-color: chocolate; */
    font-size: 22px;
    color: #555;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;
}